.primarySection{
    background-color: rgb(234, 234, 235);
    padding: 160px 0;
    color: rgb(43, 43, 100);
}
.secondarySection{
    background-color: rgb(171, 171, 175);
    padding: 50px 0 70px 0;
    color: rgb(32, 32, 65);
}
.topTeamImage{
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.topTeamImage img{
    width: 250px;

}
.list small{
    font-size:large;
    color: rgb(68, 68, 68);
}
@media screen and (max-width:590px){
    .primarySection{
        padding: 120px 0;
    }
}
@media screen and (max-width:380px){
    .primarySection{
        padding: 80px 0;
    }
}