@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.CampoInfoMaster{
    margin: 20px 0;
}
.CampoInfoMaster h2 ,.CampoInfoMaster h4{
    font-family: 'Kanit', sans-serif;
}
.CampoInfoMaster h2{
    margin: 20px;
}
.CampoCode{
    width:auto;
    height: 300px;
    overflow-y: scroll;
}