
.headercontainer{
    background-color: rgb(234, 234, 235);
    height: 100% ;
    padding: 30px 0;
}
.CampoUndraw img{
    width: 100%;
}
.logoTest{
    color: #7b65c1;
}
.CampoInfo{
    position: relative;
    box-shadow: -5px -5px 15px rgba(197, 197, 197, 0.388),5px 5px 15px rgba(191, 191, 191, 0.388);
    border-radius: 5px;
}
.ButtomStyle{
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #7b65c1;
    padding: 8px 12px;
    border-radius: 5px;
}