
.headercontainerPrimaria{
    background-color: rgb(234, 234, 235);
    height: 100% ;
    padding: 70px 0;
}
.headercontainerSegundario{
    background-color: rgb(220, 220, 224);
    height: 100% ;
    padding: 70px 0;
}
.headercontainerTerciario{
    background-color: rgb(171, 171, 181);
    height: 100% ;
    padding: 50px 0;
}
.CampoUndraw img{
    width: 100%;
}
.logoTest{
    color: #7b65c1;
}
.CampoInfo{
    position: relative;
    box-shadow: -5px -5px 15px rgba(197, 197, 197, 0.388),5px 5px 15px rgba(191, 191, 191, 0.388);
    border-radius: 5px;
    padding: 30px;
}
.ButtomStyle{
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #7b65c1;
    padding: 8px 12px;
    border-radius: 5px;
}
.ButtomStyle:hover{
    color: rgb(255, 255, 255);
    opacity: 50%;
}
.CampoUndraw{
    margin: auto;
    margin-top: 20px;
}
.undraw_booked{
    margin: auto;
    margin-top: 0;
}
.undraw_booked img{
    width: 100%;
}
.CampoText{
    box-shadow: -1px -1px 15px rgba(0, 0, 0, 0.1),1px 1px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
@media screen and (max-width:470px){
    .CampoUndraw{
        margin-top: 50px;
    }
}