.ButtonSearch img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.ButtonSearch img:hover{
    animation: rotate 2s linear infinite;
}
.ButtonSearch{
    transition: transform 0.2s, box-shadow 0.2s;
}
.ButtonSearch:hover{
    transform: translateY(2px);
}
.ButtonSearch:active{
    transform: translateY(4px);
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(30deg);
    }
    70%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
/* CentralizedDiv.css */
.button-search {
    border: none;
    cursor: pointer;
  }
  
  .centered-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  