.ButtonSearch img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.ButtonSearch img:hover{
    animation: rotate 2s linear infinite;
}
.ButtonSearch{
    transition: transform 0.2s, box-shadow 0.2s;
}
.ButtonSearch:hover{
    transform: translateY(2px);
}
.ButtonSearch:active{
    transform: translateY(4px);
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(30deg);
    }
    70%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.IconClose {
    position: absolute;
    right: 0px;
    top: -40px;
    padding: 3px 15px;
    border: 0;
    font-size: 20px;
    outline: none !important;
    background-color: rgb(32, 144, 169);
    color: rgb(255, 255, 255);
    border-radius: 1px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.562);
    transition: transform 0.2s, box-shadow 0.2s;
    z-Index: 1;
}
.IconClose:hover{
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.562);

}
.IconClose:active{
    transform: translateY(4px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.562);
}
.button-search {
    border: none;
    cursor: pointer;
}
  
.ContainerDiv{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: white;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 15px;
}
.Divhtml,.Divcss{
    width:auto;
    height: 300px;
    overflow-y: scroll;
}
@media screen and (max-width:1000px){
    .ContainerDiv{
        display: inline;
    }
    .Divhtml{
        height: 150px;
    }
}
@media screen and (max-width:600px){
    .ContainerDiv{
       font-size: 12px;
    }
    .Divhtml{
        height: 120px;
    }
}
@media screen and (max-width:400px){
    .ContainerDiv{
       font-size: 11px;
    }
}
  