.ULNavbar img:hover{
    opacity: 70%;
}
.ULNavbar img{
    width: 45px;
    height: 45px;
    padding: 10px 10px;
}
@media screen and (max-width:680px){
    .ULNavbaricons{
        display: none;
    }
}