#NavbarContainer{
    background-color: #7b65c1;
    color: rgb(254, 254, 254);   
}
#NavbarContainer .container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.ULNavbar{
    display:flex;
    list-style: none;
    padding: 10px 15px;
}
.ULNavbar img{
    width: 45px;
    height: 45px;
    padding: 10px 10px;
}
.ULNavbar{
    margin: 0;
}
.ULNavbar li{
    padding: 7px 24px 7px 0;
}