.EfeitoModerno .h3 {
    position: relative;
    color: #152860;
    text-align: center;
    white-space: nowrap;
    font-size: 20px;
    letter-spacing: 0.0625em;
    width: calc(10ch + 1.25em);
    &:after {
      position: absolute;
      content: '';
      width: calc(10ch + 1.25em);
      height: 2ex;
      left: 0;
      top: 0;
      background: #eff5ed;
      animation: .6s blink 20, move 1.5s 1s forwards steps(1);
      border-left: 1px solid #152860;
      box-shadow: 0px 1ex 0px 0px #eff5ed;
    }
  }
  
  @keyframes move {

    10% {
      width: calc(10ch + 1.25em - (1ch + 0.125em));
      left: calc(1ch + 0.125em);
    }

    20% {
      width: calc(10ch + 1.25em - (2ch + 0.25em));
      left: calc(2ch + 0.25em);
    }

    30% {
      width: calc(10ch + 1.25em - (3ch + 0.375em));
      left: calc(3ch + 0.375em);
    }

    40% {
      width: calc(10ch + 1.25em - (4ch + 0.5em));
      left: calc(4ch + 0.5em);
    }

    50% {
      width: calc(10ch + 1.25em - (5ch + 0.625em));
      left: calc(5ch + 0.625em);
    }

    60% {
      width: calc(10ch + 1.25em - (6ch + 0.75em));
      left: calc(6ch + 0.75em);
    }

    70% {
      width: calc(10ch + 1.25em - (7ch + 0.875em));
      left: calc(7ch + 0.875em);
    }

    80% {
      width: calc(10ch + 1.25em - (8ch + 1em));
      left: calc(8ch + 1em);
    }

    90% {
      width: calc(10ch + 1.25em - (9ch + 1.125em));
      left: calc(9ch + 1.125em);
    }

    100% {
      width: calc(10ch + 1.25em - (10ch + 1.25em));
      left: calc(10ch + 1.25em);
    }
  }
  
  @keyframes blink {
    0% {
      border-left-color: #152860;
    }
    50% {
      border-left-color: #152860;
    }
    51% {
      border-left-color: #eff5ed;
    }
    100% {
      border-left-color: #eff5ed;
    }
  }
  
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
  *{
    margin: 0;
  }
  .typewriter {
    font-family: 'Anonymous Pro', monospace;
    width: 70%;  
  }
  h1 {
    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
    font-weight: normal;
  }
.NeonText .h3{
  color: #ffffff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}
.NeonText{
  width:auto;
  border-radius: 15px;
  background-color: #1c3161;
  padding: 20px 10px;
  display: flex;
  justify-content: space-around
}
