@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.CampoInfoButtons{
    margin: 20px 0;
}
.CampoInfoButtons h2 ,.CampoInfoButtons h4{
    font-family: 'Kanit', sans-serif;
}
.CampoInfoButtons h2{
    margin: 20px;
}